<div class="wrapper ">
    <div class="logo">
         <h2 class=".navbar ul li button">the tech blog</h2>
        <ul class="search-container">
            <li><button id="logout">Log Out</button></li>
            <li><button id="movieHistory">dashboard</button></li>
            <li><button id="logout">home</button></li>
        </ul>
            
     </div>
        
    </div>
    <div class="container">
        <div class="result-container">
            <div class="result-grid" id="result-grid"></div>
        </div>
    </div>
    <button id="saveBtn" class="hidden">Save</button>
</div>

<script src="js/logout.js"></script>


